@import './base/colores';
@import './base/listas';
@import './base/maps';
@import './base/operaciones';
@import './base/vars';
@import './base/extend';
@import './base/mixin.scss';
@import './componentes/footer';
@import './componentes/header';




*{
    margin: map-get($header-ppl, mrg);
    padding: map-get($header-ppl, pd);
    text-decoration: none;
    list-style-type: none;
}

a{
    text-decoration: none;
    color: nth($clrs, 1);
}
.link{
    text-decoration: none;
    color: nth($clrs, 1);
}
.titulo{
    margin: map-get($header-ppl, mrg);
    padding: map-get($header-ppl, pd);
    background-image: url('../images/luzu-personassinyoyi.webp');
    font-family: 'Cuprum', sans-serif;

}
p{
    text-align: $text;
    color: nth($clrs, 1);
    font-weight: bold;
    font-family: 'Bebas Neue', sans-serif;
}
section{
    h2{
        color: nth($clrs, 3);
        text-align: $text;
    }
}
.texto{
    text-align: $text;
    line-height: normal;
    font-size: small;
    font-weight: bold;
}

section{
    h4{
        text-align: $text;
        font-weight: bold;
    }
}

header{
    nav{
        ul{
            @extend %row;
        }
    }
}

.logoapp{
    width: nth($size, 6);
    height: nth($size, 6);
}

main{
    margin:0;
    margin-left: 0;
    margin-right: 0;
    padding: nth($size, 5);
    justify-content: space-around;
}
main{
    div{
        margin: nth($size, 1);
        padding: nth($size, 1);
    }

}
main{
    div{
        div{
            text-align: $text;
        }
    }
}

.texto{
    text-align: center;
    font-size: large;
}

.titulo_index{
    color: nth($clrs, 4);
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    margin: map-get($header-ppl, mrg);
    padding: map-get($header-ppl, pd);
}

.fondo{
    background-color: nth($clrs, 5);
}

.titulogrilla{
    grid-area: titulogrilla;
    width: 100%;
}

.spotify{
    grid-area: spotify;
}
.youtube{
    grid-area: youtube;
}
.twitch{
    grid-area: twitch;
    background-color: none;
}
.imagen{
    grid-area: imagen;
}
.parrafo{
    position: relative;
    background-color: rgb(195, 78, 27);
    grid-area: parrafo;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 0.7;
    box-shadow: 1 2px 4px rgba(182, 81, 14, 0.2);
    border: 2px;
    font-style: italic;
  }
.imagenuno{
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.video-container{
    max-width: 100%;
}
  
.texto{
    margin: 0;
    padding: 10px;
    color: white;
}
.parrafo:hover{
    background-color: rgba(195, 78, 27, 0.8);
}

  .textodos {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  
  .parrafo:hover .textodos {
    opacity: 1;
  }
  
  .parrafo:hover h3 {
    opacity: 0;
  }
 


.aparecer img {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
@keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}
  
.aparecer img{
    animation: aparecer 0.5s ease-in-out;
    animation-fill-mode: forwards;
}

.persona{
    border: 0;
}
.aparerdos{
    border-radius: 80%;
}
.persona:hover{
    transform: translateX(300px);
    transform: translateY(70px);
    transform: scale(1.5);
    transition: all 1.8s;
}

.programa{
    border: 0;
}
.nicodos:hover{
    transform: scale(1.5);
    transition: all 1.8s;
}
.programa:hover{
    transform: translateX(300px);
    transform: translateY(70px);
    transform: scale(1.2);
    transition: all 2.8s;
}

.programados{
    background-color: nth($clrs,5);
}
.programados:hover{
    transform: scale(1.2);
    transition: all 1.5s;
}
#texto{
    font-size: 20px;
    transition: font-size 0.5s ease;
}
  
#texto:hover {
    font-size: 50px;
    transform: translateX(700px);
    z-index: 1;
}

.spotify:hover, .youtube:hover, .twitch:hover{
    transform: scale(1.5);
    transition: all 1.8s;
}
