header{
    div{
        nav{
            width: 100vw;
            top: 0px;
            left: 0px;
            background-image: url('../images/luzu-personassinyoyi.webp');
            }
        }
    }